body {
    background-size: cover;
    background-color: rgb(126, 165, 248);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    padding-left: 35%;
}
.teri-moose {
    padding: 30px;
    padding-top: 50px;
    float: left;
}
.about {
    padding:30px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}
