body {
    background-size: cover;
    background-color: rgb(199, 207, 224);
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
}
.border {
    border: 5px solid rgba(70, 77, 92, 0.3);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 255, 0.55);
    text-shadow: 2px 2px rgba(94, 91, 97, 0.44);
    background-color: rgba(109, 112, 114, 0.63);
    box-shadow: 3px 3px rgba(49, 49, 49, 0.692);
}
nav {
    width: 97%;
    height: 100px;
    margin: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}
ul {
    list-style-type: none;
    width: 95%;
    margin: 0;
    padding: 15px;
    padding-left: 12%;
    padding-right: 5%;
    overflow: hidden;
    float: left;
}
li {
    float: left;
    font-family: fantasy;
    font-size: 20px;
    text-decoration: none;
    color: rgba(255, 250, 250, 0.85);
    padding-left: 5%;
    padding-right: 5%;
}
button {
    background-color: rgba(39, 118, 212, 0.664);
    border: 2px solid rgba(61, 80, 143, 0.3);
    border-radius: 10px;
    width: 150%;
    height: 55px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgba(255, 250, 250, 0.85);
    text-shadow: 2px 3px rgb(66, 63, 68);
    box-shadow: 3px 3px rgb(49, 49, 49);
}
a:link {
    color:rgba(255, 250, 250, 0.85);
}
a:visited {
    color: rgba(62, 52, 87, 0.85);
}
a button:visited {
    color: rgba(62, 52, 87, 0.85);
}
a:active {
    color: rgba(255, 250, 250, 0.85);
}
a:hover {
    color: rgb(101, 10, 119);
}
a button:hover {
    color: rgb(101, 10, 119);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.contactInfo{
    width: 45%;
    background-color:rgba(70, 131, 180, 0.5);
    padding-top: 5px;
    padding-bottom: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.left{
    float: left;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding-left: 20px;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}
input {
    width: 45%;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid rgb(131, 129, 129);
    border-radius: 4px;
    background-color: #f8f8f8;
}
::placeholder {
    color:rgba(89, 90, 92, 0.856)
}
textarea {
    width: 45%;
    height: 150px;
    padding: 7px;
    box-sizing: border-box;
    border: 2px solid rgb(131, 129, 129);
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
input[type=submit] {
    background-color: rgba(125, 126, 128, 0.534);
    border: 2px solid rgb(131, 129, 129);
    font-weight: bold;
    color: white;
}
input[type=submit]:hover {
    background-color: steelblue;
}
a:link {
    color:rgba(2, 2, 2, 0.85);
}
a:visited {
    color: rgba(78, 67, 107, 0.85);
}
a:active {
    color: rgba(255, 250, 250, 0.85);
}
a:hover {
    color: rgb(65, 29, 163);
}
.moose {
    width: 30%;
    padding: 20px;
    padding-right: 50px;
    float: right;
}