body {
    border: 5px solid rgb(56, 54, 54);
    margin: 0;
    padding: 0;
    background-image: url(/images/fabian-gieske-cbIKeuURaq8-unsplash.jpg);
    /*Photo credit: Photo by <a href="https://unsplash.com/@fbngsk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Fabian Gieske</a> on <a href="https://unsplash.com/s/photos/paw-print-background?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/
    background-size: cover;
    background-color:skyblue;
}
.border {
    border: 5px solid rgba(70, 77, 92, 0.3);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(238, 241, 241, 0.897);
    text-shadow: 2px 2px rgb(66, 63, 68);
    background-color: rgba(69, 83, 95, 0.4);
    box-shadow: 3px 3px rgba(49, 49, 49, 0.692);
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
}
button {
    background-color: rgba(34, 48, 93, 0.5);
    border: 2px solid rgba(61, 80, 143, 0.3);
    border-radius: 10px;
    width: 150%;
    height: 55px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgba(255, 250, 250, 0.85);
    text-shadow: 2px 3px rgb(66, 63, 68);
    box-shadow: 3px 3px rgb(49, 49, 49);
}
h1 {
    font-size: 55px;
}
h3, h4 {
    font-size: 20px;
}
header {
    width: 97%;
    height: 150px;
    margin: 10px;
}
nav {
    width: 97%;
    height: 100px;
    margin: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}
ul {
    list-style-type: none;
    width: 95%;
    margin: 0;
    padding: 15px;
    padding-left: 12%;
    padding-right: 5%;
    overflow: hidden;
    float: left;
}
li {
    float: left;
    font-family: fantasy;
    font-size: 20px;
    text-decoration: none;
    color: rgba(255, 250, 250, 0.85);
    padding-left: 5%;
    padding-right: 5%;
}
li a {    
    display: block;
    padding: 8px;
}
a:link {
    color:rgba(255, 250, 250, 0.85);
}
a:visited {
    color: rgba(62, 52, 87, 0.85);
}
a button:visited {
    color: rgba(62, 52, 87, 0.85);
}
a:active {
    color: rgba(255, 250, 250, 0.85);
}
a:hover {
    color: rgb(101, 10, 119);
}
a button:hover {
    color: rgb(101, 10, 119);
}
aside {
    width: 45%;
    height: 270px;
    margin: 5px;
    margin-right: 10px;
    float: right;
}
section {
    width: 50%;
    height: 270px;
    margin: 5px;
    margin-left: 10px;
    font-size: 60;
    float: left;
}
article {
    width: 50%;
    height: 125px;
    margin: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}
footer {
    width: 97%;
    height: 20%;
    margin: 10px;
    clear: both;
}
p {
    font-size: 16;
    font-family: cursive;
}
.map {
    padding: 20px;
    float: left;
}